<p>create-vehicle works!</p>
<form  [formGroup]="vehicleForm" (ngSubmit)="submit()">
    <label for="">Vehicle</label>
    <input type="text" formControlName="Vehicle"><br>
    <label for="">manufacturer</label>
    <input type="text" formControlName="manufacturer"><br>
    <label for="">model</label>
    <input type="text" formControlName="model"><br>
    <label for="">type</label>
    <input type="text" name="" id="" formControlName="type"><br>
    <label for="">fuel</label>
    <input type="text" formControlName="fuel"><br>
    <label for="">color</label>
    <input type="text" formControlName="color"><br>
    <label for="">cost</label>
    <input type="text" formControlName="cost"><br>
    <label for="">tyres</label>
    <input type="text" formControlName="tyres"><br>
     
     <input type="submit">

</form>