<h2>create employee</h2>
<label for="">name:</label>
<input type="text" [(ngModel)]="name">
<br>
<label for="">company:</label>
<input type="text"  [(ngModel)]="company">
<br>
<label for="">package:</label>
<input type="text"  [(ngModel)]="package">
<br>
<label for="">experience:</label>
<input type="text"  [(ngModel)]="exp">
<br>
<label for="">role</label>
<input type="text"  [(ngModel)]="role">
<br>
<button (click)="add()" class="btn btn-primary">add employee</button>

<h2>ACTIONS</h2>
<button class="btn btn-info" (click)="above3years()"> above 3 years exp</button>
<button class="btn btn-info" (click)="tcs()">Tcs employee</button>

<button class="btn btn-warning" (click)="addmr()">add mr before name</button>
<button class="btn btn-warning" (click)="add1yr()">add 1 yr exp</button>

<button class="btn btn-secondary" (click)="explh()">exp low to high</button>
<button class="btn btn-secondary" (click)="exphl()">exp high to low</button>

<button class="btn btn-primary" (click)="total()">total</button>












<table class="table table-dark table-boardered table-striped">
<thead>

    <tr>
        <th>name</th>
        <th>company</th>
        <th>package</th>
        <th>experience</th>
        <th>role</th>
        <th>actions</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let employee of employees; let i= index">
        <td>{{employee.name}}</td>
        <td>{{employee.company}}</td>
        <td>{{employee.package}}</td>
        <td>{{employee.exp}}</td>
        <td>{{employee.role}}</td>
        
        <td>
            <button class="btn btn-danger"(click)="delete(i)">delete</button>
        </td>
    </tr>
</tbody>
</table>