<table class="table table-dark table-boardered table-striped">
    <thead>

        <tr>
            <th>SNO</th>
            <th>productname</th>
            <th>price</th>
            <th>rating</th>
            <th>freedelivery</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products; let i= index">
            <td>{{i+1}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
           <td>{{product.rating}}</td>
           <td>{{product.freeDelivery}}</td>


              
        </tr>
     
    </tbody>
</table>



<h1>add product</h1>
<label for="">Name:</label>
<input type="text" [(ngModel)]="name" >
<br>
<label for="">price:</label>
<input type= "text" [(ngModel)]= "price">
<br>
<label for="">Rating:</label>
<input type="text" [(ngModel)]="rating">
<br>
<label for="">freeDelivery:</label>
<input type="text" [(ngModel)]="freedelivery">
<br>

 <button (click)="add()" class="btn btn-secondary">add product</button>

