<div class="parent">
    <div class="left">
        <h1>my webapp</h1>
        <ul>
            <li routerLink="home">home</li>
            <li routerLink="welcome">welcome</li>
            <li routerLink="data-binding">Data binding</li>
            <li routerLink="calculator">calcukator</li>
            <li routerLink="directives">Directives</li>
            <li routerLink="event-registration">event-registration</li>
            <li routerLink="flipkart">flipkart</li>
            <li routerLink="vehicles">vehicles</li>
            <li routerLink="employees"> employees</li>
            <li routerLink="acconts"> Acconts</li>
            <li routerLink="products"> products</li>
            <li routerLink="contact-ceo"> contact-ceo</li>
            <li routerLink="payment/upi"> upi</li>
            <li routerLink="payment/cardpayment"> card</li>
            <li routerLink="vehicle2"> vehicle2</li>
            <li routerLink="create-user"> create-user</li>
            <li routerLink="create-vehicle"> create-vehicle</li>
        </ul>
        <button (click)="logout()">logout</button>
    </div>
    <div class="right">
        <router-outlet></router-outlet>

    </div>
</div>