<div class="parent">
    <div class="left">
        <h1>my webapp</h1>
        <ul>
            <li routerLink="home" >home</li>
            <li  routerLink="welcome">welcome</li>
            <li routerLink="data-binding">Data binding</li>
            <li routerLink="calculator">calcukator</li>
            <li routerLink="directives">Directives</li>
            <li routerLink="event-registration">event-registration</li>
        </ul>
        <button routerLink="/login">logout</button>
    </div>
    <div class="right">
       <router-outlet></router-outlet>

    </div>
</div>
